# Dagster
DAGSTER_HOME=dagster_home

# Windows console encoding fix (set to 1 if using Windows)
PYTHONLEGACYWINDOWSSTDIO=1

# VMS API / Keycloak OAuth2
TMS_TOKEN_URL=https://auth-dev.ortec-finance.com/auth/realms/REALESTATE/protocol/openid-connect/token
TMS_CLIENT_ID=TMS
TMS_CLIENT_SECRET=
TMS_USER=TMS IM
TMS_PASS=PASSWORD
TMS_API_BASE_URL=https://rev-ha-tms-prd-test-mirror.apps.weu-dev-1.westeurope.aroapp.io
VGR_API_BASE_URL=https://rev-ha-vgr-prd-test-mirror.apps.weu-dev-1.westeurope.aroapp.io
